<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
<div class='header'>
    <div class='header-title'>
        <h2>WGX 's Career Path</h2>
    </div>
</div>
            <div class='p-card'>
                <section>
                    <div class='iconwrapper'>
                        <img src="<%=@person.icon%>" width="150px" height="150px"/>
                    </div>
                    
                </section>
                <section>
                    <div class='info-card'>
                        <div class="info-item">
                            <span><h2><%=@person.name%></h2></span>
                        </div>
                        <div class="info-item">
                            <span><%=@person.age%> 岁</span>
                        </div>

                         <div class="info-item">
                            <span>现居于</span><span><%=@person.city%></span>
                        </div>
                         <div class="info-item">
                            <span>联系方式:</span><div><%=@person.mail%></div>
                        </div>
                        <p>
                            <%=@person.detail%>
                        </p>
                    </div>
                </section>
            </div>
        <div class="main">
        <div class="timeline-container">
            <div id="timeline">
                      <div id="time-spot">
                        <div class="cover-top"></div>
                        <div class="content">
                            <div class="content-container"></div>
                        </div>
                        <div class="cover-bottom"></div>
                      </div>
                    <div id="time-period">
                        
                       
                        <div class="content-background">
                        <div class="arrow-top"></div>
                            <div class="arrow-bottom"></div>
                             <div class="axis"></div>
                             <div class="shadow-seperator"></div>

                        </div>
                        <div class="time-content-container">
                             <div class="time-content">
                                <ul>

                                </ul>    
                            </div>
                        </div>
 
                    </div>
            </div>
        </div>
        
    </div>